@font-face {
    font-family: "Georgia";
    src: url("../assets/fonts/georgia/Georgia.woff2") format('woff2'),
    url("../assets/fonts/georgia/Georgia.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/arial/ArialMT.woff2") format('woff2'),
    url("../assets/fonts/arial/ArialMT.woff") format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #F1CDB3;
    --dark: #292929;
    --primary-light: #FDDCC4;
}


body {
    font-family: 'Georgia', sans-serif;
    /*font-family: 'Arial', sans-serif;*/
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
    position: relative;
}

.header,
.heading-block,
.footer {
    background: url(../assets/img/start-screen-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211F20;
    background-position-x: center;
    background-position-y: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-white {
    background-color: #FFFFFF;
    height: 120px;
}

h1 {
    font-size: 1em;
    font-weight: 400;
    line-height: 80%;
}

h2{
    font-size: 2.5em;
    font-weight: 400;
    line-height: 120%;
}

h3{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 130%;
}

h4{
    font-size: 2.5em;
    font-weight: 700;
    line-height: 130%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 90px;
    padding-top: 30px;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.logo-text {
    position: relative;
    margin-right: 573px;
    width: 184px;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    text-align: start;
    color: var(--primary);
    transition: all 0.3s;
    letter-spacing: 1px;
}

#logo-pets {
    color: #545454;
}

.logo-text-small {
    font-size: 13px;
    color: #CDCDCD;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 2px;
    padding-top: 10px;
}

#logo-small-pets {
    color: var(--dark);
}

ul {
    list-style: none;
}

.burger-menu-icons {
    display: none;
}

.nav-list {
    display: flex;
    gap: 28px;
    font-family: 'Arial', sans-serif;
}

ul li a.nav-pets {
    color: #545454;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: #CDCDCD;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.2s;
    font-size: 15px;
}

.header-nav-container li:hover a {
    border-bottom: 3px solid var(--primary);
    color: #FAFAFA;
}

.header-nav-container li:hover a.nav-pets {
    color: var(--dark);
}

.burger-menu-btn {
    display: none;
}

.heading-block {
    height: 818px;
    padding-top: 90px;
}
.heading-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading {
    font-size: 44px;
    color: #FFF;
    width: 310px;
    padding-top: 163px;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 57px;
    text-align: start;
}

.heading-text {
    width: 460px;
}

.heading-text-small {
    font-size: 15px;
    color: #CDCDCD;
    width: 460px;
    padding-top: 42px;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    font-family: 'Arial', sans-serif;
}

.primary-btn {
    display: block;
    line-height: 52px;
    border-radius: 25px;
    background: var(--primary);
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    cursor: pointer;
}

.primary-btn:active {
    background: var(--primary-light);
}

.make-friend-btn {
    margin-top: 42px;
    width: 207px;
}

.heading-img {
    background: url("../assets/img/start-screen-puppy.png") no-repeat;
    width: 58%;
    height: 100%;
}

.about-block {
    height: 588px;
}

.about-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-img {
    background: url("../assets/img/about-pets.png") no-repeat;
    width: 25%;
    height: 69%;
    margin-top: 80px;
}

.about-heading {
    font-size: 35px;
    color: #545454;
    padding-top: 94px;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 45px;
    text-align: start;
}

.about-text {
    width: 430px;
}

.about-first-text {
    font-size: 15px;
    color: #4C4C4C;
    padding-top: 25px;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    font-family: 'Arial', sans-serif;
}

.about-last-text {
    font-size: 15px;
    color: #4C4C4C;
    padding-top: 25px;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    font-family: 'Arial', sans-serif;
}

#pets {
    height: 1342px;
}

.pets-block {
    height: 877px;
    padding-top: 80px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pets-container {
    height: 100%;
    position: relative;
    text-align: center;
}

.pets-text,
.help-text {
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 1px;
    color: #545454;
}

.slide-container {
    position: relative;
    padding-top: 60px;
    width: 990px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

#slide-pets-container {
    width: 100%;
    padding-top: 45px;
}

.slide {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: 435px;
    column-gap: 90px;
}

#slide-grid {
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 435px);
    column-gap: 40px;
    row-gap: 30px;
}

.pets-card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #FAFAFA;
    transition: all 0.3s;
}

.animal-name {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #545454;
}

.animal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pets-button {
    background: #FAFAFA;
    border: 2px solid var(--primary);
    width: 187px;
    height: 52px;
}

.get-know-rest {
    margin-top: 60px;
    width: 261px;
    height: 52px;
}

.pets-slider-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 2px solid var(--primary);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center center;
}

.pets-slide-buttons {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 52px);
    grid-template-rows: 52px;
    column-gap: 20px;
}

.btn-left {
    top: 41.1%;
    left: -8.9%;
    background-image:url("/assets/icons/Arrow-left.svg");
}

.btn-right {
    top: 41.1%;
    right: -8.9%;
    background-image:url("/assets/icons/Arrow-right.svg");
}

.btn-left-left {
    background-image: url("/assets/icons/arrow-left-left.svg");
}

#arrow-left {
    background-image: url("/assets/icons/arrow-left-pets.svg");
}

#arrow-right {
    background-image: url("/assets/icons/arrow-right-pets.svg");
}

.btn-right-right {
    background-image: url("/assets/icons/arrow-right-right.svg");
}

.help-block {
    height: 611px;
    padding-top: 80px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.help-container {
    height: 100%;
    position: relative;
    text-align: center;
}

.howto-help-first {
    position: relative;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 82px 150px 60px 153px 101px;
    grid-template-rows: 113px;
    column-gap: 120px;
    row-gap: 55px;
}

.howto-help-last {
    position: relative;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 89px 101px 165px 143px;
    grid-template-rows: 113px;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
}

.action-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}

.donation-block {
    height: 462px;
    padding-top: 80px;
    background: #F6F6F6;
}

.donation-container {
    width: 915px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.donation-img {
    background: url("../assets/img/donation-dog.png") no-repeat;
    width: 550px;
}

.donation-text {
    width: 380px;
}

.donation-heading {
    font-size: 35px;
    color: #545454;
    position: relative;
    z-index: 1;
    font-weight: 400;
    line-height: 45px;
    text-align: start;
}

.card-info {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    color: #545454;
    padding-top: 20px;
}

.card-btn {
    padding-top: 30px;
}

.card-number {
    line-height: 43px;
    border-radius: 10px;
    width: 349px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
    display: flex;
    justify-content: space-evenly;
}

.card-icon {
    display: inline-block;
    width: 30px;
    transition: all 0.3s;
    background-image: url(../assets/icons/credit-card.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.card-text {
    padding-top: 20px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #B2B2B2;
}

.footer-block {
    height: 350px;
    padding-top: 40px;
}

.footer-container {
    width: 1200px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-img {
    background: url("../assets/img/footer-puppy.png") no-repeat;
    width: 29%;
}

.contact-text,
.locations-text {
    color: #FFFFFF;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 1px;
    font-weight: 400;
}

.contact-name,
.location-name {
    color: #F1CDB3;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
}

/*span.contact-name:nth-child(2) {*/
/*    display: inline-block;*/
/*    padding-top: 40px;*/
/*}*/

/*span.location-name:nth-child(2) {*/
/*    display: inline-block;*/
/*    padding-top: 33px;*/
/*}*/

.contact-item {
    padding-top: 40px;
}

.locations-item {
    padding-top: 33px;
}

.contact-link {
    width: 251px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locations-link {
    width: 302px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-name {
    width: 75%;
}

.location-name {
    width: 87%;
}

.contact-icon,
.location-icon {
    display: inline-block;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
}

.email-icon {
    background-image: url(../assets/icons/icon-email.svg);
    height: 32px;
    width: 40px;
}

.tel-icon {
    background-image: url(../assets/icons/icon-phone.svg);
    height: 32px;
    width: 40px;
}

.geo-icon {
    background-image: url(../assets/icons/icon-marker.svg);
    height: 32px;
    width: 22px;
}
